<!-- Header Start -->
<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <a href="/" class="brand">Home</a>
        <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
                menu
            </button>
            <ul class="nav__wrapper">
                <li class="nav__item"><a href="/user/login">Login</a></li>
                <li class="nav__item"><a href="/user/logout">Logout</a></li>
                <li class="nav__item"><a href="/user/info">アカウント情報</a></li>
                <li class="nav__item"><a href="/posts">Posts</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header End -->