<h1>ホーム画面</h1>
<% if (loginUserName !==null) {%>
<a href="/paid-vacation" class="nes-badge">
  <span class="is-success">有給申請</span>
</a>
<a href="/posts" class="nes-badge">
  <span class="is-success">Posts</span>
</a>
<% } %>