<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<%- include('partials/header'); %>
                <% var errMsg ; if(typeof errMsg !=="undefined" ) { %>
                    <div style="color: red;">
                        <%= errMsg %>
                    </div>
                    <% }%>
<body>
    <%- body %>
</body>

<%- include('partials/footer'); %>
</html>