<% for (var item of rows) { %>
        <article class="<%= item.id %>">
            <p>投稿<%= item.id %>回目。</p>
        </article>
    <p>
        <%= item.title %>
    </p>

    <% } %>

    <form method="post" action="/posts">
        <label>
            Name:
            <input name="name" autocomplete="name"  enctype="multipart/form-data" />
        </label>
        <button type="submit">Save</button>
    </form>
    <!-- <form action="/" method="POST"><input type="text" name="menu"><button type="submit">送信</button></form> -->