/* 
** The Header Media Queries **
** Tweak as per your needs **
*/

/* web font設定 */
a {
  color: inherit;
  text-decoration: none;
}

p,
ul {
  margin: 0;
}

@font-face {
  font-family: "misakigothic";
  src: url("../font/misaki_gothic.ttf") format("truetype");
}

body {
  margin: 0px;
  background-color: #000;
  /* font-family: 'DotGothic16', sans-serif; */
  font-family: "Press Start 2P", "misakigothic", cursive;
  font-size: 400;
  color: #fff;
  /* background-image: url(../img/bg_img_2.jpg);
  background-position: 0 -200px; */
}

/* header */
header {
  margin: 10px;
  justify-content: space-between;
}

header img {
  width: 30px;
  height: auto;
}

.USER {
  animation: walk 1s steps(1) infinite;
}

@keyframes walk {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }

  100% {
    transform: scaleX(1);
  }
}
.ADMIN {
  animation: fuwafuwa 2s infinite;
}

@keyframes fuwafuwa {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

header div:first-child {
  align-items: center;
}

header nav {
  align-items: center;
}

#user_menu .inner {
  height: 0;
  position: absolute;
  right: 0;
  top: 60px;
  display: none;
}

#user_btn {
  padding: 5px;
  border-radius: 5px;
  align-items: center;
}

#user_btn:hover {
  opacity: 0.5;
  background-color: teal;
}

#user_btn img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 25%;
}

.nes-table.is-dark::before {
  position: inherit;
}

/* main */
main {
  padding: 10px 10%;
}

/* 投稿 */
.posts .wrapper .nes-container {
  flex-basis: 70%;
}

table,
td,
th {
  border: 1px solid #595959;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  padding: 3px;
  width: calc(100% / 4);
  /* width: 50%; */
}
th {
  background-color: #fff;
  color: #000;
}

.nes-container {
  padding: 1rem 1.5rem;
}

.nes-balloon {
  padding: 0;
  font-size: 5px;
}

.flex {
  display: flex;
}
